{% load static %}
<html>
    <head>
        <title>MATCH ~APEX~</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
      <header>
        <div class="logo">
          <h1>MATCH</h1>
        </div>
        <ul class="header-list">
          <li>language</li>
          <li>お問い合わせ</li>
        </ul>
      </header>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
