{% extends 'blog/base-apex.html'%}





{% block content %}
  <form action="" method="GET">
        {{ form.as_p }}<br>
    {% csrf_token %}
    <button type="submit">検索</button>
  </form>
    <hr>
      {% for post in posts %}
        <div class="post">
            <div class=post-left>

                <p class="datep">{{ post.published_date }}</p>
                <p class="psidp"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.psid }}</a></p>
                <!-- <p>{{ post.comment|linebreaksbr }}</p> -->
                <p class="deviep">{{ post.device }}</p>
                <p class="purposep">{{ post.purpose }}</p>
                <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
            </div>
            <div class="post-right">
              <p>{{ post.comment|linebreaksbr }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
